@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --color-logo-light: rgb(66, 66, 250);
  --color-logo-dark: rgb(128, 159, 255);
  --color-nav: #667eea;
  --color-nav-hover: #764ba2;
  --color-hero: rgba(120, 120, 255, 0.07);
  --color-menu:#0f0f1e;
}
