@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --color-logo-light: rgb(66, 66, 250);
  --color-logo-dark: rgb(128, 159, 255);
  --color-body: #0a0a12;
  --color-nav: #667eea;
  --color-menu:#0f0f1e;
  --color-slight-gray:rgb(227, 230, 232);
  --color-article-subtitle:rgb(156, 168, 180);
}
