---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import AuthorImage from "../assets/images/authorImage.png";
const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="max-w-6xl mx-auto px-2 py-16 sm:py-20 lg:py-24">
    <div class="grid grid-cols-1 md:grid-cols-2  items-center gap-5">
      <!-- Left: Text Content -->
      <div class="space-y-5 lg:space-y-7 order-2 md:order-1">
        <h1
          class="text-2xl sm:text-3xl lg:text-4xl font-bold leading-tight
                   lg:whitespace-nowrap"
        >
          Hi there! I'm Biplab.
        </h1>

        <p class="text-base sm:text-lg lg:text-xl text-gray-300">
          Most people know me by that name — but that’s just a label, a way to
          be identified. If I were to strip away every layer of identification,
          who would I really be?
        </p>

        <p class="text-base sm:text-lg lg:text-xl text-gray-300">
          Have you ever wondered the same? It feels almost absurd — we spend so
          much time learning about the world, yet so little time understanding
          ourselves.
        </p>
        <p class="text-base sm:text-lg lg:text-xl text-gray-300">
          These days, I find joy in exploring that intersection — life, code,
          and the beautiful chaos and calm that live within both.
        </p>
      </div>

      <!-- Right: Image -->
      <div
        class="flex justify-center md:justify-end order-1 md:order-2 "
      >
        <div
          class="w-64 sm:w-72 md:w-80 lg:w-96 aspect-square rounded-3xl overflow-hidden
            shadow-[0_0_40px_rgba(120,120,255,0.1)] transition-transform duration-500 hover:-translate-y-1"
        >
          <Image
            src={AuthorImage}
            alt="Professional photo"
            class="w-full h-full object-cover object-center"
          />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
