---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class="text-logo-dark font-bold uppercase">Code, Chaos & Curiosity</h2>
</BaseLayout>
