---
import { getCollection } from 'astro:content';
import ArticleCard from "./ArticleCard.astro";

const allPosts = await getCollection('blog');
// Sort by date descending
allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<div >
   {allPosts.map((post: any) => <ArticleCard url={`/posts/${post.slug}`} title={post.data.title} description={post.data.description} subtitle={post.data.subtitle}/>)}
</div>
