---
import ArticleCard from "./ArticleCard.astro";

const allPosts = Object.values(import.meta.glob('../pages/posts/*.mdx', { eager: true }));
---

<div >
   {allPosts.map((post: any) => <ArticleCard url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} subtitle={post.frontmatter.subtitle}/>)}
</div>
