---
import { Icon } from 'astro-icon/components'
---

<nav class="relative p-4 group">
  <label class="sm:hidden">
    <input type="checkbox" class="peer hidden" />
    <svg
      class="w-6 h-6 text-slight-gray cursor-pointer hidden sm:hidden peer-not-checked:block absolute top-1 right-4 z-50"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
    <!-- Close Icon -->
    <svg
      class="w-6 h-6 text-slight-gray cursor-pointer
           hidden sm:hidden peer-checked:block
 absolute top-1 right-4 z-50"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </label>

  <ul
    class="flex flex-col sm:flex-row items-center gap-4
             absolute sm:static top-12 -left-15 w-20 sm:w-auto
             bg-menu sm:bg-transparent
             p-6 sm:p-0
             rounded-lg
             max-h-0 opacity-0 overflow-hidden
             group-has-[.peer:checked]:max-h-96 group-has-[.peer:checked]:opacity-100
              group-has-not[.peer:checked]:hidden
             
             sm:max-h-none sm:opacity-100 sm:flex"
  >
    <li
      class="hover:text-nav text-slight-gray hover:underline font-semibold"
    >
      <a href="/">Home</a>
    </li>
    <li
      class="hover:text-nav text-slight-gray hover:underline font-semibold"
    >
      <a href="/about/">About</a>
    </li>
    <li
      class="hover:text-nav text-slight-gray hover:underline font-semibold"
    >
      <a
        href="https://github.com/mahantybiplab/"
        target="_blank"
        class="hover:text-gray-400"
      >
        <Icon name="mdi:github" size={24} />
      </a>
    </li>
    <li
      class="hover:text-nav text-slight-gray hover:underline font-semibold"
    >
      <a
        href="https://x.com/MahantyBiplab3"
        target="_blank"
        class="hover:text-gray-400"
      >
        <Icon name="x" size={20} />
      </a>
    </li>
  </ul>
</nav>
