---

---

<div
  class="prose dark:prose-invert
  prose-h1:text-nav prose-h2:text-nav
  prose-h1:font-semibold prose-h1:text-3xl
  prose-h2:font-semibold prose-h2:text-2xl
  prose-p:text-justify prose-img:rounded-xl
  prose-h2:underline"
>
  <slot />
</div>
