---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`} class="social-link">{platform}</a>
<style>
  .social-link {
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--color-primary);
    text-decoration: none;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: opacity 0.2s;
  }
  .social-link:hover {
    opacity: 0.8;
  }
</style>
