---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import "../styles/global.css";
const { pageTitle , showHero=false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body
    class=" bg-body text-white font-sans overflow-x-hidden"
  >
    <Header />
    {showHero && <Hero />}
    <main class="px-4 sm:px-8 md:px-16">
      <slot />
      <Footer />
    </main>    
  </body>
</html>
