---
import Prose from "../components/Prose.astro";
import BaseLayout from "./BaseLayout.astro";
import PostMeta from "../components/PostMeta.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <Prose>
    <div class="pr-1">
      <PostMeta frontmatter={frontmatter} />
      <slot />
    </div>
  </Prose>
</BaseLayout>
